.reclama{
    padding: 150px 0 400px 0;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
}

.reclamatext{
    padding-inline: 100px;
}

.slogan{
    font-size: 90px;
    font-weight: 700;
}

.buildlink{
    text-decoration: none;
    color: white;
    background-color: #9a40e1;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 5px auto auto 4px;
}

.topsellers{
    background-color: #202020;
    margin: 60px 60px auto 60px;
    padding-inline: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topsellerstxt{
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
}

.compuri{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px 60px;
    gap: 60px;
}

.comp{
    width: 100%;
}


@media (max-width: 1260px) {
    .slogan{
        font-size: 70px;
    }

    .topsellers{
        padding-inline: 20px;
        height: 80px;
    }

    .topsellersimg, .topsellerstxt{
        width: 70px;
        font-size: 12px;
    }
    .navlogo{
        margin-right: 145px;
    }
}
.spanus{
    font-size: 30px;
    margin-left: 10px;
}

.zoom {
    width: 500px;
    cursor: zoom-in;
}

.zoom img:hover {
    opacity: 0;
}

.zoom img {
    transition: opacity 0.5s;
}

@media (max-width: 1024px) {
    .compuri{
        flex-direction: column;
        max-width: 300px;
        margin: 60px auto ;
    }
    .reclama{
        background-image: none;
        background-color: #202020;
        padding: 80px 0;
    }
}

@media (max-width: 768px) {
    .topsellers{
        flex-wrap: wrap;
        height: auto;
    }
    .topsellerstxt{
        padding-left: 0;
    }
}